@page "/movies/details"
@using Microsoft.EntityFrameworkCore
@using MovieTheater.Models
@inject IDbContextFactory<DataContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Movie</h2>
    <hr />
    @if (movie is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@movie.Name</dd>
            <dt class="col-sm-2">ReleaseDate</dt>
            <dd class="col-sm-10">@movie.ReleaseDate</dd>
            <dt class="col-sm-2">Director</dt>
            <dd class="col-sm-10">@movie.Director</dd>
            <dt class="col-sm-2">ContactEmail</dt>
            <dd class="col-sm-10">@movie.ContactEmail</dd>
            <dt class="col-sm-2">Language</dt>
            <dd class="col-sm-10">@movie.Language</dd>
            <dt class="col-sm-2">Category</dt>
            <dd class="col-sm-10">@movie.CategoryId.</dd>
            <dt class="col-sm-2">PosterPath</dt>
            <dd class="col-sm-10">@movie.PosterPath</dd>
        </dl>
        <div>
            <a href="@($"/movies/edit?id={movie.Id}")">Edit</a> |
            <a href="@($"/movies")">Back to List</a>
        </div>
    }
</div>

@code {
    private Movie? movie;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        movie = await context.Movie.FirstOrDefaultAsync(m => m.Id == Id);

        if (movie is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
